body {
    background: grey;
    color: white;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
}

.u {
    text-decoration: underline;
}

.mets {
    background: orange;
    color:#00118e;
}

.dodgers {
    background: blue;
    color:#f9fae7;
}

.cubs {
    
}

.pittsburgh {
    background: yellow;
    color:#9f0035;
}

.cardinals {
    background: #830000;
    color:#efedee;
}

.table-container {
    background: black;
    color:#b1d4ef;
}
